*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/convention/build/
/build-logic/convention/build/classes/kotlin/main/
/core/core-common/build/
/core/core-common/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/core-database/build/
/core/core-database/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/core-navigation/build/
/core/core-network/build/
/core/core-network/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/core-security/build/
/core/core-security/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/core-ui/build/
/feature/feature-auth/build/
/feature/feature-auth/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/feature-dashboard/build/
/feature/feature-dashboard/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/feature-settings/build/
/feature/feature-settings/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/feature-transactions/build/
/feature/feature-transactions/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/feature-voice/build/
/feature/feature-voice/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/